<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1">
  <link href="/favicon.png" type="image/x-icon" rel="shortcut icon">
  
  <title>Soundset</title>

  <link rel="stylesheet" href="/stylesheets/application.css" />
  <script src="/javascript/modernizr.js"></script>
  </head>
  
  <body>
    
    <div class="wrapper">
      <%= yield %>
    </div>

    <script src="/javascript/application.min.js"></script>
  </body>

</html>