// -------------------------------------
//   Utilities
// -------------------------------------

%l-wrapper, .l-wrapper {
  @include clearfix;
  display: block;
  margin: 0 auto;
  max-width: $l-max-width;
  padding: 0 20px;
}

%l-relative, .l-relative {
  position: relative;
}

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pull-left, .l-pull-left {
  float: left;
}

%l-pull-right, .l-pull-right {
  float: right;
}

%l-space, .l-space {
  margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
  margin-bottom: rem($base-whitespace * 2);
}

%l-table {
  display: table;
  table-layout: fixed;
}

%l-table-cell {
  display: table-cell;
  vertical-align: middle;
}

%align-center, .align-center {
  text-align: center;
}
%align-right, .align-right {
  text-align: right;
}
%align-left, .align-left {
  text-align: left;
}

%c-condense, .c-condense {
  font-size: 85%;
}

%c-lead, .c-lead {
  font-size: 125%;
}

%c-shout, .c-shout {
  text-transform: uppercase;
}

